.container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1 0 65%
}

.chart-wrapper {
    flex: 0 0 100%;
}

.slide-num {
    display: flex;
    flex-direction: row;
}

.risk-val {
    margin: 6px;
}

.slider {
  height: 20px;
  -webkit-appearance: none;
  margin: 6.35px 0;
  background: transparent;
}
.slider:focus {
  outline: none;
}
.slider::-webkit-slider-runnable-track {
  height: 5.3px;
  cursor: pointer;
  background: rgba(48, 113, 169, 0.78);
  border-radius: 1.3px;
}
.slider::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 8px;
  background: #ff857b;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.55px;
}
.slider:focus::-webkit-slider-runnable-track {
  background: #9e7671;
}
.slider::-moz-range-track {
  height: 5.3px;
  cursor: pointer;
  background: rgba(48, 113, 169, 0.78);
  border-radius: 1.3px;
}
.slider::-moz-range-thumb {
  border: 0px solid #00001e;
  height: 18px;
  width: 18px;
  border-radius: 8px;
  background: #ff857b;
  cursor: pointer;
}
.slider::-ms-track {
  height: 5.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.slider::-ms-fill-lower {
  background: rgba(24, 57, 86, 0.78);
  border-radius: 2.6px;
}
.slider::-ms-fill-upper {
  background: rgba(48, 113, 169, 0.78);
  border-radius: 2.6px;
}
.slider::-ms-thumb {
  border: 0px solid #00001e;
  height: 18px;
  width: 18px;
  border-radius: 8px;
  background: #ff857b;
  cursor: pointer;
  height: 5.3px;
}
.slider:focus::-ms-fill-lower {
  background: rgba(48, 113, 169, 0.78);
}
.slider:focus::-ms-fill-upper {
  background: rgba(110, 166, 214, 0.78);
}
